{% extends 'base.html.twig' %}
{% block body %}

    <!doctype html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>{{ message }}</title>
    </head>
    <body>
    <h1>{{ message }} </h1>
    </body>
    </html>
{% endblock %}