{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}
    {% if message %}
        <h1>{{ message }}</h1>
    {% endif %}
    <div class="media">
        <div class="media-body ml-5">
            <h1 class="mt-0">{{ slug }}</h1>
        </div>
    </div>



    <button type="button" class="btn btn-lg round m-5">
        <a href="{{ path('wild_index') }}"> Retour à l'accueil </a>
    </button>
{% endblock %}